{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-export-default-from",
    "@babel/plugin-proposal-export-default-from",
    "add-module-exports",
    "@babel/plugin-transform-react-display-name"
  ]
}